
.jumbotron{
  background-image: url("images/connect.jpg");
  color: #332441;
  background-size: cover;
  background-position: top;
}
  header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;

  }

footer{
  background-image: url("images/bk.jpg");
  padding-bottom: 150px;
}

nav {
  text-align: center;
  font-size: 15px;
  color: blue;
}
.nav ul {
  list-style: none;
  background-color: rgba(125, 100, 100, 0.5);
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

h3{
font-family: 'Sacramento', cursive;
color: lightpink;
}

h1{
  color: pink;
  font-family: 'Parisienne', cursive;
  font-size: 80pt;
  text-align: center;

}
.icon{
  margin-top: auto;
}

/*font-family: 'Clicker Script', cursive;*/
font-family: 'Stalemate', cursive;
