
body{
  width: 100%;
  height: 100%;
  background-image: url("images/downtown.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.img-circle{
  float: right;
  margin-right: 30px;
  margin-top: 40px;
}
#homeHeading{
  font-size: 40pt;
  font-family: 'Julius Sans One', sans-serif;
/*font-family: 'Economica', sans-serif;
font-family: 'Arsenal', sans-serif;*/


}

#webdev{
  font-size: 20pt;
}
/*body {
background-image: url("arlee2.jpg");
background-size: cover;
margin: 0;
padding: 0;
}*/
header {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  background-color: rgba(255, 0, 250, 0.5);
  back
  color: lightpink;
}
.btn-primary {
  /*margin-bottom: 10px;*/
  background-color: #1abc9c;
}
.col-sm-12{
color:  white;
text-align: center;
}

nav {
  text-align: center;
  font-size: 15px;
  color: blue;
}

.nav ul {
  list-style: none;
  background-color: rgba(255, 0, 250, 0.5);
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #1abc9c;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }


  /*.tools{
    background-color: rgb(255, 250, 250);
    padding: 30px;
    padding-left: 250px;
    padding-right: 250px;
  }*/

  #linkedIn{
    margin-left: 0px;
  }
  .projects{
    padding-bottom: 200px;
    padding-top: 100px;
    padding-left: 10%;
    background-color: #1abc9c;

  }
  footer{
    background-color: white;
    text-align: center;
  }
  #bio{

    color:black;
    /*padding-top: 30px;*/
    /*padding-right: 120px;
    padding-left: 200px;*/
    padding-bottom: 120px;
    background-color: white;
    font-size: 25px;
    font-family: 'Arsenal', sans-serif;
  /*font-family: 'Belleza', sans-serif;
    font-family: 'Over the Rainbow', cursive;*/
    margin-bottom: 50px;
    margin-top: 40px;

    border-style: inset;
    border-width: thick;
    border-color: #1abc9c;


  }
  #map{
    float: left;
    margin-top: 70px;
  }

  .boxes{

  	color: orange;
  }



  /*p { color: #ffffff;  }*/

  /*-=-=-=-=-=-=-=-=-=-*/
  /* Column Grids */
  /*-=-=-=-=-=-=-=-=-= */

  .col_half { width: 0%; }
  .col_third { width: 0%; }
  .col_fourth { width: 23.5%; }
  .col_fifth { width: 18.4%; }
  .col_sixth { width: 15%; }
  .col_three_fourth { width: 74.5%;}
  .col_twothird{ width: 66%;}
  .col_half,
  .col_third,
  .col_twothird,
  .col_fourth,
  .col_three_fourth,
  .col_fifth{
  	position: relative;
  	display:inline;
  	display: inline-block;
  	float: left;
  	margin-right: 2%;
  	margin-bottom: 20px;
  }
  .end { margin-right: 0 !important; }

  /*-=-=-=-=-=-=-=-=-=-=- */
  /* Flip Panel */
  /*-=-=-=-=-=-=-=-=-=-=- */


  /*.panel {
  	margin: 0 auto;
  	height: 30px;
  	position: relative;
  	-webkit-perspective: 600px;
  	-moz-perspective: 600px;
  }*/

  .panel .front,
  .panel .back {
  	/*text-align: center;*/
  	top: 40;
  	position: absolute;
  }

  .panel .front {
  	height: inherit;
  	top: 0
  	z-index: 900;
  	text-align: center;
  	-webkit-transform: rotateX(0deg) rotateY(0deg);
  	   -moz-transform: rotateX(0deg) rotateY(0deg);
  	-webkit-transform-style: preserve-3d;
  	   -moz-transform-style: preserve-3d;
  	-webkit-backface-visibility: hidden;
  	   -moz-backface-visibility: hidden;
  	-webkit-transition: all .4s ease-in-out;
  	   -moz-transition: all .4s ease-in-out;
  		-ms-transition: all .4s ease-in-out;
  		 -o-transition: all .4s ease-in-out;
  			transition: all .4s ease-in-out;
  }

  .panel .back {
  	height: inherit;
  	position: absolute;
  	z-index: 1000;
  	-webkit-transform: rotateY(-180deg);
  	   -moz-transform: rotateY(-180deg);
  	-webkit-transform-style: preserve-3d;
  	   -moz-transform-style: preserve-3d;
  	-webkit-backface-visibility: hidden;
  	   -moz-backface-visibility: hidden;
  	-webkit-transition: all .4s ease-in-out;
  	   -moz-transition: all .4s ease-in-out;
  		-ms-transition: all .4s ease-in-out;
  		 -o-transition: all .4s ease-in-out;
  			transition: all .4s ease-in-out;
  }
  .panel.flip .front {
  	z-index: 900;
  	-webkit-transform: rotateY(180deg);
  	-moz-transform: rotateY(180deg);
  }
  .panel.flip .back {
  	z-index: 1000;
  	-webkit-transform: rotateX(0deg) rotateY(0deg);
  	-moz-transform: rotateX(0deg) rotateY(0deg);
  }
  .box1 .img-circle{
    margin-left: 150px;

  	background-color: rgba(10,5,10,0.8 );
  	width: 250px;
  	height: 130px;
  	margin: 0 auto;
  	padding: 10px;
  	border-radius: 10px;
  	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
    	/*box-shadow: 10px 10px 5px #888888;*/
  }
  /*.col-sm-3{
    padding-bottom: 120px;
  }*/
/*rgb(101,150,255)*/
  .box2{
  	background-color: white;
    width: 250px;
  	height: 130px;
  	margin: 0 auto;
  	padding: 20px;
  	border-radius: 10px;
  	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
    /*box-shadow: 10px 10px 5px #888888;*/
  }

  .8ball {
    background-color: rgb (143, 246, 255);
  }
