
.img-circle{
  float: right;

}

.button{
  margin-top: 100px;
}
/*#homeHeading{
  font-size: 40pt;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
*/

/*font-family: 'Economica', sans-serif;
font-family: 'Arsenal', sans-serif;*/


/*}*/



#webdev{
  font-size: 20pt;
}
/*body {
background-image: url("arlee2.jpg");
background-size: cover;
margin: 0;
padding: 0;
}*/
/*header {
    background-color: rgba(255, 0, 250, 0.5);


  text-align: center;

  margin-left: 0px;
  margin-right: 0px;

}*/



#bio{

  color:white;
  /*float:left;*/
  text-align: right;
  /*text-align: left;*/
  padding-bottom: 150px;
  margin-top: 150px;
  /*background-color: rgba(250, 250,	156,0.3);*/
  font-size: 20px;
  /*font-family: 'Arsenal', sans-serif;*/
/*font-family: 'Belleza', sans-serif;
  font-family: 'Over the Rainbow', cursive;*/



  /*border-style: inset;
  border-width: thick;
  border-color: #1abc9c;*/


}


.ball{
  height: 200pt;
}

/*nav {
  text-align: center;
  font-size: 15px;
  color: blue;
}

.nav ul {
  list-style: none;
  background-color: rgba(26, 188,	156,0.5);
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #1abc9c;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;*/
    /*height: 50px;
    line-height: 50px;*/
    /*font-size: 1.4em;
  }*/

  /* Option 1 - Display Inline */
  /*.nav li {
    display: inline-block;
    margin-right: -4px;
  }*/


  /*.tools{
    background-color: rgb(255, 250, 250);
    padding: 30px;
    padding-left: 250px;
    padding-right: 250px;
  }*/
  .boxes{
    color: gray;
  }



#twitter {
  margin-top: 90px;
}

#linked, #email {
  margin-top: 40px;
}



  footer{
    background-color: white;
    text-align: center;
    margin-top: 900px;
    /*background-size: cover;*/
  }
